.regforme {
    /* overflow: hidden; */
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.regdiv{
    display:flex;
    overflow-x: hidden;
}
.steps{
    margin-left: 15%;
    height: 400px;
    padding: 120px 10px 0px 10px;
    /* float: right; */
    /* background-color: antiquewhite; */
}
.regform{
    /* margin-top: 10px; */
    /* margin-left:8% ; */
    padding:0px 10px 0px 10px;
    /* background-color: green; */
    width:100%;
    height: 400px;
    overflow-x:hidden;
    overflow-y: none;
    /* text-align: justify; */
}
.formdiv::-webkit-scrollbar {
    scrollbar-width: 1px;
}
form{
    /* overflow-x: none;
    overflow-y:none; */
}
.regform label{
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0px;
}
.regform input {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    margin: 8px 0px;
    padding-left: 33px;
    border: 1px solid gray;
    font-size: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

}
.regform select{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    margin: 8px 0px;
    padding:0px 0px 0px 10%;
    border: 1px solid gray;
}
.regform select option{
    font-size: 15px;
    
}
.regform .number{
    width: 50%;
    height: 40px;
}
button{
    margin: 10px;
}