.dailychallenge{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    margin-top: 10px
}
.dc-info{
    width: ;
}

.dc{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    margin-top: 10px
}
