#profile-div {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 50px;
}
#student-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#personal{
    /* padding: 10px; */
    /* background-color: antiquewhite; */
    /* border-radius: 10px; */
}
#personal td{
    padding: 10px;
    font-size: 16px;
}
#dp{
    /* background-color: aqua; */
}
#dp-img{
    /* position: relative; */
    width: 35vb;
    height:35vh;
    /* border: 2px solid red; */
    box-shadow:0px 0px 30px 30px rgba(10, 77, 222, 0.253);
}
#academic-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#academic-info table{
    margin-top: 20px;
    width: 70%;
    /* background-color: aqua; */
}
#academic-info td{
    /* padding: 10px; */
    font-size: 16px;
}



@media only screen and (max-width: 820px) {
    #student-info {
        flex-direction: column-reverse;
        justify-content: center;

    }
    #personal td{
        padding: 5px;
        font-size: 11px;
    }
    #dp-img{
        /* position: relative; */
        width: 20vb;
        height:20vh;
        /* border: 2px solid red; */
        box-shadow:0px 0px 30px 30px rgba(10, 77, 222, 0.253);
        margin-bottom: 50px;
    }
}